.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Main-logo {
  height: 250px;
  margin-top: 20px;
}

.Main-header {
  margin: 30px;
  font-size: 48px;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
